﻿@model TEAM13SEP.Models.SINHVIEN
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hộp thư góp ý khoa CNTT</title>
    <!--icon title-->
    <link rel="icon" type="image/svg" href="~/AdminPlugin/assets/images/sep_logo_6a.png" />

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/themify-icons.css")" rel="stylesheet">
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/unix.css")" rel="stylesheet">
    <link href="@Url.Content("~/AdminPlugin/assets/css/style.css")" rel="stylesheet">


    <!-- FAV Icon
    <link rel="apple-touch-icon" sizes="180x180" href="images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/fav/favicon-16x16.png">
    <link rel="manifest" href="images/fav/site.webmanifest">
    <link rel="mask-icon" href="images/fav/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="images/fav/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="HTGY">
    <meta name="application-name" content="HTGY>
    <meta name="msapplication-TileColor" content="#4243dc">
    <meta name="msapplication-config" content="images/fav/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">-->
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:400,500,700" rel="stylesheet">
    <!-- FONT-AWESOME ICON CSS -->
    <link rel="stylesheet" href="~/AdminPlugin/assets/css_login/font-awesome.min.css">

    <!--== ALL CSS FILES ==-->
    <link rel="stylesheet" href="~/AdminPlugin/assets/css_login/style.css">
    <link rel="stylesheet" href="~/AdminPlugin/assets/css_login/materialize.css">
    <link rel="stylesheet" href="~/AdminPlugin/assets/css_login/bootstrap.css">
    <link rel="stylesheet" href="~/AdminPlugin/assets/css_login/mob.css">
    <link rel="stylesheet" href="~/AdminPlugin/assets/css_login/animate.css">
    <link rel="stylesheet" href="~/AdminPlugin/assets/css_login/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/AdminPlugin/assets/css_login/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="~/AdminPlugin/assets/css_login/askme.min.css">


    <!-- Datatables -->
    <link href="~/AdminPlugin/assets/vendor/DataTables/datatables.min.css" rel="stylesheet" type="text/css">

    <!-- Slick -->
    <link href="~/AdminPlugin/assets/vendor/slick/slick.css" rel="stylesheet" type="text/css">
    <link href="~/AdminPlugin/assets/vendor/slick/slick-theme.css" rel="stylesheet" type="text/css">

</head>

<body class="bg-primary">

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="#">
                            <img src="~/AdminPlugin/assets/images/Sep_vlogo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="javascript:void(0)" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="javascript:void(0)" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>EventBox</h4>
                            <ul>
                                <li><a href="/">Trang chủ</a></li>
                            </ul>
                            <h4>Tài khoản</h4>
                            <ul>
                                <!-- HTML login -->
                                <li><a href="login.php">Đăng nhập</a></li>
                                <li><a href="register.php">Đăng ký</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li>
                                    <div class="wed-logo">
                                        <a href="~/User/GopY">
                                            <img src="~/AdminPlugin/assets/images/Sep_vlogo.png" alt="" />
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a href=" http://cntt.vanlanguni.edu.vn" target="_blank">Hộp thư góp ý Khoa Công Nghệ Thông Tin</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="~/User/Auth/Login">Đăng nhập</a></li>
                                <li><a href="~/User/Auth/Create">Đăng kí</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->	<!-- html login form -->
    <!--DASHBOARD-->

    <div class="container">
        <div class="row">
            <div>
                <div class="login-content">
                    @*<div class="login-logo">
                            <span><b> Đăng Ký </b></span>
                        </div>*@

                    <div class="register-form">

                        <div class="login-logo">
                            <span><b style="margin-left:200px; color: black"> 📝 Đăng Ký </b></span>
                        </div>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label>Vui lòng nhập 3 chữ số đầu và 5 chữ số cuối của mã sinh viên. Ví dụ : 18712345</label> <br />
                                    @Html.LabelFor(model => model.MSSV, "Mã số sinh viên", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MSSV, new { htmlAttributes = new { @class = "form-control", @min = "1000000" } })

                                        @*  kiểm tra xem liệu mssv đã tồn tại*@

                                        @Html.ValidationMessage("codeExists", new { @class = "text-danger" })
                                        @Html.ValidationMessage("bug1", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.EMAIL, "Email ", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })

                                        @*  kiểm tra xem liệu email đã tồn tại*@

                                        @Html.ValidationMessage("EmailExists", new { @class = "text-danger" })
                                        @Html.ValidationMessage("bug1", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.PASSWORD, "Mật khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control", @minlength = "6", @maxlength = "25" } })
                                        @Html.ValidationMessage("bug1", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.HOTEN_SV, "Họ và tên", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.HOTEN_SV, new { htmlAttributes = new { @class = "form-control", @minlength = "4", @maxlength = "25" } })
                                        @Html.ValidationMessage("bug1", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Đăng Kí" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }


                        <div class="register-link m-t-15 text-center">
                            <p> Bạn đã có tài khoản ? <a href="~/User/Auth/Login">Bấm vào đây để đăng nhập ngay !</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="rows">
            <div class="footer">
                <div class="container">
                    <div class="foot-sec2">
                        <div>
                            <div class="row footernoop">
                                <div class="col-sm-2 foot-spec foot-com">
                                    <div class="wed-logo2">
                                        <a href="/">
                                            <img src="~/AdminPlugin/assets/images/logo_vanlang.png" alt="Feedback webiste for IT student" style="width:100px;height:100px">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 foot-spec foot-com">
                                    <h4>Địa chỉ</h4>
                                    <p><a style="color: #fff" href="https://goo.gl/maps/2CcxCxTxQXPDDYwW8" target="_blank"><i class="fa fa-university" aria-hidden="true"></i> Trụ sở: <br>45 Nguyễn Khắc Nhu, P.Cô Giang, Q.1, Hồ Chí Minh.</a></p>
                                    <p><a style="color: #fff" href="https://goo.gl/maps/H4RCpcajjiNjpjZ8A" target="_blank"><i class="fa fa-university" aria-hidden="true"></i> Cơ sở 2: <br> 233A Phan Văn Trị, P.11, Q.Bình Thạnh, Hồ Chí Minh.</a></p>
                                    <p><a style="color: #fff" href="https://goo.gl/maps/UdzN3SB64pcwUyGGA" target="_blank"><i class="fa fa-university" aria-hidden="true"></i> Cơ sơ 3: <br> 80/68 Dương Quảng Hàm, P.5, Q.Gò Vấp, Hồ Chí Minh. <br> 69/68 Đặng Thùy Trâm, P.13, Q.Bình Thạnh, Hồ Chí Minh.</a></p>
                                </div>
                                <div class="col-sm-3 col-md-3 foot-spec foot-com">
                                    <h4>Liên hệ</h4>
                                    <p">
                                        <p><a style="color: #fff" href="#"><i class="fa fa-male" aria-hidden="true"></i> Trưởng khoa: TS. Hoàng Lê Minh </a></p>
                                        <p><a style="color: #fff" href="#"><i class="fa fa-male" aria-hidden="true"></i> Phó Trưởng khoa: ThS. Bùi Minh Phụng </a></p>
                                        <p><a style="color: #fff" href="#"><i class="fa fa-building" aria-hidden="true"></i> Văn phòng: Phòng 5.07, Tòa nhà LV, Cơ sở 3 </a></p>
                                        <a style="color: #fff" href="tel:02871099240,3310"><i class="fa fa-phone" aria-hidden="true"></i> 028 7109 9240 - Ext: 4010: (CTSV), 4111 (Ban lãnh đạo Khoa)</a><p></p>
                                        <p><a style="color: #fff" href="k.cntt@vanlanguni.edu.vn"><i class="fa fa-mail-forward" aria-hidden="true"></i> Email: k.cntt@vanlanguni.edu.vn </a></p>
                                        <p><a style="color: #fff" href="http://cntt.vanlanguni.edu.vn"><i class="fa fa-laptop" aria-hidden="true"></i> Website: Khoa Công Nghệ Thông Tin </a></p>
                                    </p">
                                </div>
                                <div class="col-sm-3 foot-social foot-spec foot-com">
                                    <h4>Theo dõi chúng tôi</h4>
                                    <ul>
                                        <li><a href="https://www.facebook.com/khoacntt.vanlang" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCMUwcQecO4jqgoTgBJ3W6bQ" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.instagram.com/vanlanguniversity/?r=nametag" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="https://twitter.com/universityvan?lang=en" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>

