﻿@model IEnumerable<TEAM13SEP.Models.GOPY>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

@Html.ActionLink("Đặt góp ý", "Create") | @Html.ActionLink("Xem danh sách các câu trả lời", "Index2")
<div></div>
Xin chào @Session["user-fullname1"]
<li><a href="~/User/Auth/Logout" class="nav-link "><i class="ti-close"></i> Đăng xuất</a></li>



@foreach (var item in Model.Where(w => w.TRANGTHAI.ID == 4))
{



<article class="answer">
    <section class="question">
        <header>
            <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-question fa-stack-1x fa-inverse"></i>
            </span>
            <span class="info">
                <i class="fas fa-tag"> Góp ý nổi bật</i>
                <i class="fas fa-tag">  @item.CHUDE.CHUDE_NAME</i>
                <i class="fas fa-calendar">  @item.DATE</i>




                @* <i class="fas fa-calendar"></i> <time value=""></time>
            @if (!string.IsNullOrWhiteSpace(item.DisplayName))
            {
                <span><i class="fas fa-user"></i> @item.DisplayName</span>
            }*@
            </span>
            <i class="fas fa-user"> </i>
            @item.GOPY_TEN
        </header>
        @item.NOIDUNG_GOPY

    </section>





    @Html.DisplayFor(modelItem => item.nutLIKE) like <br />




    @Html.ActionLink("Like", "Like", new { id = item.ID })
 









</article>
}






@foreach (var item in Model.Where(w => w.TRANGTHAI.ID == 2))
{



<article class="answer">
    <section class="question">
        <header>
            <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-question fa-stack-1x fa-inverse"></i>
            </span>
            <span class="info">
                <i class="fas fa-tag">Góp ý đã được duyệt</i>
              
                <i class="fas fa-tag">  @item.CHUDE.CHUDE_NAME</i>
                <i class="fas fa-calendar">  @item.DATE</i>

                @*@item.CHUDE.CHUDE_NAME*@
                @* <i class="fas fa-calendar"></i> <time value=""></time>
        @if (!string.IsNullOrWhiteSpace(item.DisplayName))
        {
            <span><i class="fas fa-user"></i> @item.DisplayName</span>
        }*@
            </span>
            @item.GOPY_TEN
        </header>
        @item.NOIDUNG_GOPY



    </section>


    
    

    

        @Html.DisplayFor(modelItem => item.nutLIKE) like <br />
        @Html.ActionLink("Like", "Like", new { id = item.ID })
    

</article>
}

