﻿@model IEnumerable<TEAM13SEP.Models.GOPY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

@Html.ActionLink("Đặt góp ý", "Create") | @Html.ActionLink("Đặt góp ý ẩn danh", "Create1")
<br />
<br />
@Html.ActionLink("Xem danh sách các câu góp ý", "Index") | @Html.ActionLink("Xem danh sách góp ý ẩn danh", "Index3") | @Html.ActionLink("Xem danh sách các câu ẩn danh được trả lời", "Index4")
<div></div>
<br />
Xin chào : @Session["user-fullname1"] | Mã số sinh viên : @Session["user-id1"]
<br />
<br />
Bạn đang xem : Các góp ý đã trả lời
<br />
<br />

<li><a href="~/User/Auth/Logout" class="nav-link "><i class="ti-close"></i> Đăng xuất</a></li>
<br />
@foreach (var item in Model.Where(w => w.TRANGTHAI.ID == 3))
{

    if (item.SINHVIEN_ID != null)
    {
        <article class="answer">
            <section class="question">
                <header>
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="info">
                        <i class="fas fa-tag"> Góp ý đã được trả lời</i>
                        <i class="fas fa-tag">Tên chủ đề  @item.CHUDE.CHUDE_NAME</i>
                        <i class="fas fa-calendar">  @item.DATE</i>
                        @*@item.CHUDE.CHUDE_NAME*@
                        @* <i class="fas fa-calendar"></i> <time value=""></time>
                            @if (!string.IsNullOrWhiteSpace(item.DisplayName))
                            {
                                <span><i class="fas fa-user"></i> @item.DisplayName</span>
                            }*@
                    </span>
                    <i class="fas fa-user">@item.SINHVIEN.HOTEN_SV </i>
                    Tiêu đê :  @item.GOPY_TEN
                </header>
                <div>
                    @MvcHtmlString.Create(item.NOIDUNG_GOPY)
                </div>
                <div>

                </div>



            </section>



            <section class="answer">
                <header>
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fas fa-comment fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="info">

                        @*<i class="fas fa-calendar"></i> <time value="@item."></time>*@
                    </span>
                    Người trả lời :   @item.ADMIN.FULL_NAME
                </header>
                <div>
                    @MvcHtmlString.Create(item.TRALOI_GOPY)
                </div>
                <footer for-login-status="true">
                </footer>

            </section>

            @Html.DisplayFor(modelItem => item.nutLIKE) lượt tương tác <br />


            @if (item.daLike == false)
            {
                @Html.ActionLink("Like", "Like1", new { id = item.ID })
            }
            else
            {
                @Html.ActionLink("unLike", "unLike1", new { id = item.ID })
            }

        </article>
    }

}






@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GOPY_CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GOPY_TEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nutLIKE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOIDUNG_GOPY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TRALOI_GOPY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADMIN.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CHUDE.CHUDE_CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SINHVIEN.EMAIL)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GOPY_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GOPY_TEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nutLIKE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOIDUNG_GOPY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TRALOI_GOPY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADMIN.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHUDE.CHUDE_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SINHVIEN.EMAIL)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@