﻿
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>  Hộp thư góp ý khoa CNTT </title>
    <!--icon title-->
    <link rel="icon" href="~/AdminPlugin/assets/images/sep_logo_6a.png">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
@*    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">*@
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- FAV Icon
    <link rel="apple-touch-icon" sizes="180x180" href="images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/fav/favicon-16x16.png">
    <link rel="manifest" href="images/fav/site.webmanifest">
    <link rel="mask-icon" href="images/fav/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="images/fav/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="HTGY">
    <meta name="application-name" content="HTGY>
    <meta name="msapplication-TileColor" content="#4243dc">
    <meta name="msapplication-config" content="images/fav/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">-->
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:400,500,700" rel="stylesheet">
    <!-- FONT-AWESOME ICON CSS -->
    <link rel="stylesheet" href="@Url.Content("~/AdminPlugin/assets/css_login/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/AdminPlugin/assets/fontss/themify-icons/themify-icons.css")">

    <!--== ALL CSS FILES ==-->
    <link rel="stylesheet" href="@Url.Content("~/AdminPlugin/assets/css_login/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/AdminPlugin/assets/css_login/materialize.css")">
    <link rel="stylesheet" href="@Url.Content("~/AdminPlugin/assets/css_login/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/AdminPlugin/assets/css_login/mob.css")">
    <link rel="stylesheet" href="@Url.Content("~/AdminPlugin/assets/css_login/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/AdminPlugin/assets/css_login/bootstrap-datepicker.css")">
    <link rel="stylesheet" href="@Url.Content("~/AdminPlugin/assets/css_login/bootstrap-datetimepicker.css")">

    <link rel="stylesheet" href="@Url.Content("~/AdminPlugin/assets/css_login/askme.min.css")">

    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/UserPlugin/Styles/askme.css")" asp-append-version="true" />*@
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/UserPlugin/Styles/askme.min.css")" asp-append-version="true" />*@


    <!-- Datatables -->
    <link href="@Url.Content("~/AdminPlugin/assets/vendor/DataTables/datatables.min.css")" rel="stylesheet" type="text/css">

    <!-- Slick -->
    <link href="@Url.Content("~/AdminPlugin/assets/vendor/slick/slick.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/AdminPlugin/assets/vendor/slick/slick-theme.css")" rel="stylesheet" type="text/css">

    <!--Javascript-->
    <link href="@Url.Content("~/AdminPlugin/assets/js/main.js")" rel="stylesheet" type="text/css">

    <!-- old code
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
                  integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
                  integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
            <link rel="alternate" type="application/rss+xml" title="RSS" href="" />
            <environment include="Development">
                <link rel="stylesheet" type="text/css" href="@Url.Content("~/UserPlugin/Styles/askme.css")" asp-append-version="true" />
            </environment>
            <environment exclude="Development">
                <link rel="stylesheet" type="text/css" href="@Url.Content("~/UserPlugin/Styles/askme.min.css")" asp-append-version="true" />
            </environment>* old code-->
</head>

<body>
    <!-- MOBILE MENU -->
    <!--<section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="~/Areas/User/Views/GopY/Index">
                            <img src="~/AdminPlugin/assets/images/Sep_vlogo.png" />

                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="javascript:void(0)" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="javascript:void(0)" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4></h4>
                            <ul>
                                <li><a href="/">Trang chủ</a></li>
                            </ul>
                            <h4>Tài khoản</h4>
                            <ul>-->
    <!-- HTML login -->
    <!--<li><a href="login.php">Đăng nhập</a></li>
                                <li><a href="register.php">Đăng ký</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->

    <header>
        <!-- <li><a href="~/User/Auth/Logout" class="nav-link "><i class="ti-close"></i> Đăng xuất</a></li> -->
        <!--HEADER SECTION-->
        <section>
            <!-- TOP BAR -->
            <div class="ed-top_1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ed-com-t1-left">
                                <ul>
                                    <li>
                                        <div class="wed-logo-trang-chu">
                                            <a href="~/User/GopY/Index2">
                                                <img src="~/AdminPlugin/assets/images/logo-vlu_1.png" alt="" />
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href=" http://cntt.vanlanguni.edu.vn" target="_blank"> Hộp thư Góp ý sinh viên Khoa Công nghệ thông tin</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--END HEADER SECTION-->
    </header>


    <vc:menu></vc:menu>

    <main>
        <marquee id="vertical" scrollamount="2" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()">
            🎈 Chào mừng bạn đến với trang đặt góp ý dành cho sinh viên khoa Công Nghệ Thông Tin.🎈
        </marquee>
        <div id="header-wrapper">
            <div id="nav-header">
                <div id="nav-bar">
                    <ul>
                        <li> @Html.ActionLink("Trang chủ", "Index2") </li>
                        <li> @Html.ActionLink("Góp ý chờ trả lời", "Index") </li>
                        <li> @Html.ActionLink("Tạo góp ý ", "Create") </li>
                    </ul>

                    @*<nav>
                                <div id="underline"></div>
                                <a onclick="ul(0)"> @Html.ActionLink("Trang chủ", "Index2") </a>
                                <a onclick="ul(1)"> @Html.ActionLink("Góp ý chờ trả lời", "Index") </a>
                                <a onclick="ul(2)"> @Html.ActionLink("Tạo góp ý ", "Create") </a>
                            </nav>

                                <li> @Html.ActionLink("Góp ý ẩn danh được trả lời", "Index4") </li>
                        <li> @Html.ActionLink("Góp ý ẩn danh được duyệt", "Index3") </li>
                                <li>
                                    <a href="#"> Tạo góp ý <i class="ti-angle-double-down"></i></a>
                                    <ul id="sub-nav">
                                        <li id="subsub1"> @Html.ActionLink("⭕Đặt góp ý ", "Create")</li>
                                        <li id="subsub2"> @Html.ActionLink(" ❌Đặt góp ý ẩn danh", "Create1")</li>
                                    </ul>
                                </li>*@

                </div>
                <div class="login-section">
                    <ul>
                        <li><a> Xin chào @Session["user-fullname1"] </a></li>
                        <li><a href="~/User/Auth/Logout" style="color:white"> Đăng xuất </a></li>
                    </ul>
                </div>
            </div>
            @*@Html.ActionLink("Đặt góp ý", "Create") | @Html.ActionLink("Xem danh sách các câu góp ý đã duyệt", "Index") | @Html.ActionLink("Xem danh sách các câu trả lời", "Index2")*@
        </div>


        @RenderBody()

    </main>

    <footer>
        <section>
            <div class="rows">
                <div class="footer">
                    <div class="container">
                        <div class="foot-sec2">
                            <div>
                                <div class="row footernoop">
                                    <div class="col-sm-2 foot-spec foot-com">
                                        <div class="wed-logo2">
                                            <a href="/">
                                                <img src="~/AdminPlugin/assets/images/logo_vanlang.png" alt="Feedback webiste for IT student" style="width:100px;height:100px">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 foot-spec foot-com">
                                        <h4>Địa chỉ</h4>
                                        <p><a style="color: #fff" href="https://goo.gl/maps/2CcxCxTxQXPDDYwW8" target="_blank"><i class="fa fa-university" aria-hidden="true"></i> Trụ sở: <br>45 Nguyễn Khắc Nhu, P.Cô Giang, Q.1, Hồ Chí Minh.</a></p>
                                        <p><a style="color: #fff" href="https://goo.gl/maps/H4RCpcajjiNjpjZ8A" target="_blank"><i class="fa fa-university" aria-hidden="true"></i> Cơ sở 2: <br> 233A Phan Văn Trị, P.11, Q.Bình Thạnh, Hồ Chí Minh.</a></p>
                                        <p><a style="color: #fff" href="https://goo.gl/maps/UdzN3SB64pcwUyGGA" target="_blank"><i class="fa fa-university" aria-hidden="true"></i> Cơ sơ 3: <br> 80/68 Dương Quảng Hàm, P.5, Q.Gò Vấp, Hồ Chí Minh. <br> 69/68 Đặng Thùy Trâm, P.13, Q.Bình Thạnh, Hồ Chí Minh.</a></p>
                                    </div>
                                    <div class="col-sm-3 col-md-3 foot-spec foot-com">
                                        <h4>Liên hệ</h4>
                                        <p">
                                            <p><a style="color: #fff" href="#"><i class="fa fa-male" aria-hidden="true"></i> Trưởng khoa: TS. Hoàng Lê Minh </a></p>
                                            <p><a style="color: #fff" href="#"><i class="fa fa-male" aria-hidden="true"></i> Phó Trưởng khoa: ThS. Bùi Minh Phụng </a></p>
                                            <p><a style="color: #fff" href="#"><i class="fa fa-building" aria-hidden="true"></i> Văn phòng: Phòng 5.07, Tòa nhà LV, Cơ sở 3 </a></p>
                                            <a style="color: #fff" href="tel:02871099240,3310"><i class="fa fa-phone" aria-hidden="true"></i> 028 7109 9240 - Ext: 4010: (CTSV), 4111 (Ban lãnh đạo Khoa)</a><p></p>
                                            <p><a style="color: #fff" href="k.cntt@vanlanguni.edu.vn"><i class="fa fa-mail-forward" aria-hidden="true"></i> Email: k.cntt@vanlanguni.edu.vn </a></p>
                                            <p><a style="color: #fff" href="http://cntt.vanlanguni.edu.vn"><i class="fa fa-laptop" aria-hidden="true"></i> Website: Khoa Công Nghệ Thông Tin </a></p>
                                        </p">
                                    </div>
                                    <div class="col-sm-3 foot-social foot-spec foot-com">
                                        <h4>Theo dõi chúng tôi</h4>
                                        <ul>
                                            <li><a href="https://www.facebook.com/khoacntt.vanlang" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                            <li><a href="https://www.youtube.com/channel/UCMUwcQecO4jqgoTgBJ3W6bQ" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                            <li><a href="https://www.instagram.com/vanlanguniversity/?r=nametag" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                            <li><a href="https://twitter.com/universityvan?lang=en" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <div id="back-to-top"><span class="fa fa-angle-up fa-3x"></span></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/tilt.js@1.1.20/dest/tilt.jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/main.js")"></script>

</body>

</html>
@RenderSection("scripts", required: false)


