<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hộp thư góp ý - Dành cho sinh viên khoa CNTT</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/calendar2/semantic.ui.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/calendar2/pignose.calendar.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/chartist/chartist.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/themify-icons.css")" rel="stylesheet">
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/owl.carousel.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/owl.theme.default.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/weather-icons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/menubar/sidebar.css")" rel="stylesheet">
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/unix.css")" rel="stylesheet">
    <link href="@Url.Content("~/AdminPlugin/assets/css/style.css")" rel="stylesheet">

 
    <link href="@Url.Content("~/AdminPlugin/assets/css/lib/data-table/buttons.bootstrap.min.css")" rel="stylesheet" />




    <!--THIS IS THE CSS FILE YOU WILL NEED -->
 
</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <br />
                <br />
                <ul>


                    @if ((int)Session["user-role"] == 1)
                    {
                        <li class="label">Mục Quản Lý</li>

                        <li>
                            <a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>Quản lý Góp ý <span class="badge badge-primary"></span><span class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a href="~/Admin/GopY/Index">Quản lý góp ý chưa được duyệt</a></li>
                                <li><a href="~/Admin/GopY/Index1">Quản lý góp ý đã được duyệt</a></li>
                                <li><a href="~/Admin/GopY/Index2">Quản lý góp ý đã được trả lời </a></li>
                                <li><a href="~/Admin/GopY/Index3">Quản lý góp ý đang được pin </a></li>
                                @*  <li><a href="~/Admin/ChuDe">Quản lý chủ đề</a></li>
                    <li><a href="~/Admin/Account">Quản lý phân quyền</a></li>*@


                            </ul>
                        </li>

                        <li>
                            <a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>Quản lý chủ đề <span class="badge badge-primary"></span><span class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>

                                <li><a href="~/Admin/ChuDe">Quản lý chủ đề</a></li>
                                @*  <li><a href="~/Admin/Account">Quản lý phân quyền</a></li>*@


                            </ul>
                        </li>
                        <li>
                            <a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>Quản lý phân quyền <span class="badge badge-primary"></span><span class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>


                                <li><a href="~/Admin/Account">Quản lý phân quyền</a></li>


                            </ul>
                        </li>

                        <li class="label">Mục thống kê</li>
                        <li>
                            <a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>Thống kê <span class="badge badge-primary"></span><span class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a href="~/Admin/GopY/ThongKe">Thống kê chi tiết</a></li>


                            </ul>
                        </li>
                    }


                    @if ((int)Session["user-role"] == 2)
                    {
                        <li class="label">Mục Quản Lý</li>

                        <li>
                            <a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>Quản lý Góp ý <span class="badge badge-primary"></span><span class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a href="~/Admin/GopY/Index">Quản lý góp ý chưa được duyệt</a></li>
                                <li><a href="~/Admin/GopY/Index1">Quản lý góp ý đã được duyệt</a></li>
                                <li><a href="~/Admin/GopY/Index2">Quản lý góp ý đã được trả lời </a></li>
                                <li><a href="~/Admin/GopY/Index3">Quản lý góp ý đang được pin </a></li>
                                @*  <li><a href="~/Admin/ChuDe">Quản lý chủ đề</a></li>
                    <li><a href="~/Admin/Account">Quản lý phân quyền</a></li>*@


                            </ul>
                        </li>

                        <li>
                            <a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>Quản lý chủ đề <span class="badge badge-primary"></span><span class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>

                                <li><a href="~/Admin/ChuDe">Quản lý chủ đề</a></li>
                                @*  <li><a href="~/Admin/Account">Quản lý phân quyền</a></li>*@


                            </ul>
                        </li>

                        <li class="label">Mục thống kê</li>
                        <li>
                            <a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>Thống kê <span class="badge badge-primary"></span><span class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a href="~/Admin/GopY/ThongKe">Thống kê chi tiết</a></li>


                            </ul>
                        </li>

                    }

                    @if ((int)Session["user-role"] == 3)
                    {

                        <li class="label">Mục Quản Lý</li>

                        <li>
                            <a class="sidebar-sub-toggle"><i class="ti-pencil-alt"></i>Quản lý Góp ý <span class="badge badge-primary"></span><span class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a href="~/Admin/GopY/Index">Quản lý góp ý chưa được duyệt</a></li>
                                <li><a href="~/Admin/GopY/Index1">Quản lý góp ý đã được duyệt</a></li>
                                <li><a href="~/Admin/GopY/Index2">Quản lý góp ý đã được trả lời </a></li>
                                <li><a href="~/Admin/GopY/Index3">Quản lý góp ý đang được pin </a></li>
                                @*  <li><a href="~/Admin/ChuDe">Quản lý chủ đề</a></li>
                    <li><a href="~/Admin/Account">Quản lý phân quyền</a></li>*@


                            </ul>
                        </li>

                    }
                    @if ((int)Session["user-role"] == 4)
                    {



                    }










                    <li><a href="~/Admin/Auth/Logout" class="nav-link "><i class="ti-close"></i> Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->
    
    <div class="header">
      


        <div class="pull-left">
            <div class="logo">
                <img src="~/AdminPlugin/assets/images/logo-vlu.png" style=" height: 52px; width: 200px; max-width: 75% " />

      


            </div>


            <div class="hamburger sidebar-toggle">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>

        <div class="pull-right p-r-15">
            <ul>

                <li class="header-icon dib">
                    <i class="fa fa-user" aria-hidden="true"> </i> <span class="user-avatar">@Session["user-fullname"] <i class="ti-angle-down f-s-10"></i></span>

                </li>
            </ul>
        </div>

    </div>
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <br />
                <!-- /# row -->
                <section id="main-content">

                    <div>

                        @RenderBody()
                    </div>




                </section>

            </div>

        </div>

    </div>
    <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- jquery vendor -->
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/jquery.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/jquery.nanoscroller.min.js")"></script>
    <!-- nano scroller -->
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/menubar/sidebar.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/preloader/pace.min.js")"></script>
    <!-- sidebar -->
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/bootstrap.min.js")"></script>
    <!-- bootstrap -->

    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/calendar-2/moment.latest.min.js")"></script>
    <!-- scripit init-->
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/calendar-2/semantic.ui.min.js")"></script>
    <!-- scripit init-->
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/calendar-2/prism.min.js")"></script>
    <!-- scripit init-->
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/calendar-2/pignose.calendar.min.js")"></script>
    <!-- scripit init-->
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/calendar-2/pignose.init.js")"></script>
    <!-- scripit init-->


    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/weather/jquery.simpleWeather.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/weather/weather-init.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/circle-progress/circle-progress.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/circle-progress/circle-progress-init.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/chartist/chartist.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/chartist/chartist-init.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/sparklinechart/jquery.sparkline.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/sparklinechart/sparkline.init.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/owl-carousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/owl-carousel/owl.carousel-init.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/scripts.js")"></script>

    <!-- jquery vendor -->
    <!-- nano scroller -->
    <!-- sidebar -->
    <!-- bootstrap -->
    <!-- scripit init-->
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/data-table/datatables.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/data-table/buttons.dataTables.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/data-table/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/data-table/buttons.flash.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/data-table/jszip.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/data-table/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugina/ssets/js/lib/data-table/vfs_fonts.js")"></script>

    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/data-table/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/data-table/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/AdminPlugin/assets/js/lib/data-table/datatables-init.js")"></script>




    <script src="@Url.Content("assets/js/lib/chart-js/Chart.bundle.js")"></script>
    <script src="@Url.Content("assets/js/lib/chart-js/chartjs-init.js")"></script>



    @RenderSection("scripts", required: false)
</body>

</html>