﻿@model IEnumerable<TEAM13SEP.Models.GOPY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- Styles -->





<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h1>Xin chào @Session["user-fullname"], <span> Tới giao diện quản trị</span></h1>
            </div>
        </div>
    </div>
    <!-- /# column -->
    <div class="col-lg-4 p-l-0 title-margin-left">
        <div class="page-header">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="~/Admin/GopY">Giao diện quản lý Góp ý đang được pin</a></li>

                </ol>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>




<div class="col-lg-12">
    <div class="card alert">
        <div class="bootstrap-data-table-panel">
            <div class="table-responsive">
                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                    <thead>
                        <tr>

                            <th>
                                Tên Góp Ý
                            </th>
                            <th>
                                Tên chủ đề
                            </th>
                            @*   <th>
                                    Tên người thực hiện
                                </th>*@

                            <th>
                                Tên sinh viên hỏi
                            </th>
                            <th>
                                Nội dung
                            </th>
                            @*    <th>
                                    Câu trả lời
                                </th>*@
                            <th>
                                ngày tạo
                            </th>
                            @*     <th>
                                    Số lượng Like
                                </th>*@


                            <th>

                            </th>

                        </tr>
                    </thead>


                    @foreach (var item in Model.Where(w => w.TRANGTHAI.ID == 4))
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.GOPY_TEN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CHUDE.CHUDE_NAME)
                            </td>
                            @*   <td>
                                    @Html.DisplayFor(modelItem => item.ADMIN.FULL_NAME)
                                </td>*@

                            <td>
                                @Html.DisplayFor(modelItem => item.SINHVIEN.HOTEN_SV)
                            </td>
                            <td>

                                @MvcHtmlString.Create(item.NOIDUNG_GOPY)

                            </td>
                            @*    <td>
                                    <div>
                                        @MvcHtmlString.Create(item.TRALOI_GOPY)
                                    </div>

                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.DATE)
                            </td>
                            @* <td>
                                    @Html.DisplayFor(modelItem => item.nutLIKE)
                                </td>*@


                            <td>

                                @Html.ActionLink("Chức năng", "Edit", new { id = item.ID }) <br /> || <br />
                                @* @Html.ActionLink("Details", "Details", new { id = item.ID }) *@
                                @Html.ActionLink("Xoá", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }





                </table>
            </div>

            <!-- /.table-responsive -->
        </div>
    </div>
</div>







<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>




